
@using Mthembu_Funeral_Policy_App.Models
@model Login
    
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        function Response() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        function openFormSignup() {
            document.getElementById("sign-up_form").style.display = "block";
        }
    </script>
    <title>Sign in</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body class="body" style="font-family: Calibri Light">
    <div class="panel" style="background-color: #1D1D2C;margin-top:-40px">
        <br />
        <p style="color: #cca63f;  font-size: 20px;margin-left:50px">Family Feeling And Professional Approach <span style="margin-left:40%;color: #F6F4D5;font-size:18px"><img src="~/Icons/location..gif" height="20" /> 2 Mona Rd, Durban Central, Durban, 4001</span> </p>
        <br />
    </div>
    <div align="left" style="margin-left:5%">

        <p style="  font-size: 14px;margin-left:70px">
            <img src="~/Icons/logo.png" width="180" height="135" />
            <span style="margin-left:35%;font-size:18px"><img src="~/Icons/phonemain.png" height="25" /> <b style="color: #cca63f"> &nbsp; (031) 555-9541 </b> &nbsp; &nbsp;<img src="~/Icons/time.gif" height="23" /> &nbsp;<b style="color:#636380"> Mon - Sun: 08:00AM - 17:00PM </b></span>
        </p>

    </div>

    <div class="topnav" id="myTopnav">

        <ul style="color: #1D1D2C">
            <b></b>

            <li> &#8226 @Html.ActionLink("HOME", "Home_Page", "Policy", null, new { id = "about_us", style = "color: #1D1D2C " })</li>

            <li>&#8226 @Html.ActionLink("ABOUT US", "Aboutus_Page", "Policy", null, new { id = "about_us", style = "color: #1D1D2C " })</li>

            <li>&#8226 @Html.ActionLink("CONTACT US", "Contact_us_page", "Policy", null, new { id = "about_us", style = "color: #1D1D2C " })</li>

            <li>&#8226 @Html.ActionLink("SERVICE", "Service_page", "Policy", null, new { id = "about_us", style = "color: #1D1D2C " })</li>

            <li>&#8226 @Html.ActionLink("GALLERY", "GalleryPage", "Policy", null, new { id = "Gallery", style = "color: #1D1D2C " })</li>

            <li>&#8226 @Html.ActionLink("SIGN-IN", "Signin_Page", "Policy", null, new { id = "Signin", style = "color: #1D1D2C " })</li>

            <li>&#8226 @Html.ActionLink("SIGN-UP", "Signup_Page", "Policy", null, new { id = "Signup", style = "color: #1D1D2C " })</li>

        </ul>
        <li href="javascript:void(0);" class="icon" onclick="Response()">
            <i class="fa fa-bars"></i>
        </li>

    </div>



    <center>
        <br />
        <br />


        @using (Html.BeginForm("Authorize", "Policy", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal" align="center" style="width:40%;height:50%;margin-left:5%;font-size:20px;border-width:10px;">
                <style>

                    .text-danger {
                        color: red;
                    }
                </style>
                <br>
                <h3 style="color:#1D1D2C;font-size:40px;">Sign In</h3>
                <p> <hr style="color:#1D1D2C;" /></p>







                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2", style = "color: #1d1d2c;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", Style = "color:#1D1D2C;border:3xp solid #1D1D2C;border-width:1px;border-color:#1D1D2C" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2", style = "color: #1d1d2c" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", Style = "color:#1D1D2C;border:3xp solid #1D1D2C;border-width:1px;border-color:#1D1D2C" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div style="color:red">
                    @Html.DisplayFor(model => model.LoginErrorMessage, "", new { @class = "text-danger" })
                </div>


                <br /><br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <b><input type="submit" value="Sign In" style="font-size:25px; width: 100%; background-color: #1D1D2C; color: #F9F9F9; padding: 14px 20px; margin-right:30%; border: none; border-radius: 4px; cursor: pointer;" /></b>
                    </div>
                </div>
                <br />
                <p align="left" style="color: #F6F4D5;font-size:18px">@Html.Label("Forgot Password?", new { id = "Signup", style = "color: #1d1d2c" }) &nbsp; <b>( @Html.ActionLink("Click Here >>", "ForgotPassword_Page", "Policy", new { Style = " color:#cca63f" })</b> </p>
                <br />
                <p style="color: #F6F4D5;font-size:18px">@Html.Label("Don't have an account?", new { id = "Signup", style = "color: #1d1d2c" }) &nbsp; <b>( @Html.ActionLink("Sign up Here", "Signup_Page", "Policy", new { Style = " color:#cca63f" }) )</b></p>
                <br />
                <br />

            </div>


        }
        <br />
        <br />
        <br />

        
    </center>

    <footer align="center" style="background-color:#1D1D2C ;bottom:0px;width:100%;position:relative;color:#F9F9F9;">
        <br /><br /><br /><br />


        <div class="row" align="left" style="margin-left:5%;width:90%">



            <div class="column">
                <p align="center" style="background-color:#F9F9F9;width:50%;border-radius:30px">

                    <img src="~/Icons/logo.png" alt="logo " width="100px" height="
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         ">
                </p>

                <br />
                <p align="left" style="color: #C9C6D8;font-size: 16px"><b>Best we can do, love, care, and comfort,<br /> be with us the family of love.</b></p>
                <br>
            </div>

            <div class="column">

                <br /><br />
                <p align="left" style=" font-size: 20px;font-family: 'Times New Roman';"><b>QUICK LINKS</b></p>
                <br />
                <p align="left">
                    <ul style=" font-size: 16px;color:#cca63f">
                        <b>

                            <li align="left">@Html.ActionLink("Hear more about us.", "", "", null, new { id = "about_us", style = "color: #F6F4D5" })</li>

                            <li align="left">@Html.ActionLink("Be in touch with us", "", "", null, new { id = "contact_us", style = "color: #F6F4D5" })</li>

                            <li align="left">@Html.ActionLink("View best we can provide", "", "", null, new { id = "about_us", style = "color:#F6F4D5" })</li>

                            <li align="left">@Html.ActionLink("View our gallery", "", "", null, new { id = "about_us", style = "color: #F6F4D5" })</li>

                            <li align="left">@Html.ActionLink("Be with us as family", "", "", null, new { id = "about_us", style = "color: #F6F4D5" })</li>
                        </b>

                    </ul>
                </p><br>
            </div>

            <div class="column">

                <br /><br />
                <p align="left" style="font-size: 20px;font-family: 'Times New Roman';"><b>OUR CONTACTS</b></p>
                <br />
                <p align="left" style="color:#F6F4D5;font-size: 16px"><b> <img src="~/Icons/email.gif" alt="freshFood " height="18px"> &nbsp; info@umthembu.com <br /><br /><img src="~/Icons/phone.png" alt="" height="20px" /> &nbsp; (031) 555-9541</p>
                <br>
            </div>

            <div class="column">

                <br /><br />
                <p align="left" style=" font-size: 20px;font-family: 'Times New Roman';"><b>SUBSCRIBE</b></p>
                <br />
                <p align="left" style="color:#C9C6D8;font-size: 16px">Subscribe to our email list and<br /> stay up-to-date with all our <br />news.</p>
            </div>




        </div>
        <p> <span style="color:#cca63f;font-size: 16px"> Rise and Shine Developers</span> &copy; 2020. All rights reserved</p>
        <br />
    </footer>
</body>
</html>
