@model Mthembu_Funeral_Policy_App.Models.tlbSpouse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>tlbSpouse</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Spouse_SA_ID_Number)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Spouse_SA_ID_Number)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tlbClient_ID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tlbClient_ID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Spouse_First_Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Spouse_First_Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Spouse_Last_Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Spouse_Last_Name)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
