
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        function Response() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        function openFormSignup() {
            document.getElementById("sign-up_form").style.display = "block";
        }
    </script>
    <title>Sign in</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="body" style="font-family: Calibri Light">
    <div class="panel" style="background-color: #1D1D2C;margin-top:-40px">
        <br />
        <p style="color: #cca63f;  font-size: 20px;margin-left:50px">Family Feeling And Professional Approach <span style="margin-left:40%;color: #F6F4D5;font-size:18px"><img src="~/Icons/location..gif" height="20" /> 2 Mona Rd, Durban Central, Durban, 4001</span> </p>
        <br />
    </div>
    <div align="left" style="margin-left:5%">

        <p style="  font-size: 14px;margin-left:70px">
            <img src="~/Icons/logo.png" width="180" height="135" />
            <span style="margin-left:35%;font-size:18px"><img src="~/Icons/phonemain.png" height="25" /> <b style="color: #cca63f"> &nbsp; (031) 555-9541 </b> &nbsp; &nbsp;<img src="~/Icons/time.gif" height="23" /> &nbsp;<b style="color:#636380"> Mon - Sun: 08:00AM - 17:00PM </b></span>
        </p>

    </div>

    <div class="topnav" id="myTopnav">

        <ul style="color: #1D1D2C">
            <b></b>
            <div">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                @using Microsoft.AspNet.Identity
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
            @Html.AntiForgeryToken()

                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                    </li>
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                </ul> }
                        }
                        else
                        {
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>}

               
</div>

           

        



    <center>








        <div class="container">
            <div class="row">
                <h2></h2>
                <hr />
                <div class="col-md-12">
                    <p class="text-center">
                        <button class="btn btn-success btn-lg" id="btn-pay">
                            PAY NOW
                            <span class="glyphicon glyphicon-lock"></span>
                        </button>
                    </p>
                    <br />
                    <p class="text-center">
                        <ul class="text-info" id="results"></ul>
                    </p>
                    <br />
                    <div class="hidden">
                        <form action="https://secure.paygate.co.za/payweb3/process.trans" method="POST">
                            <input id="PAY_REQUEST_ID" name="PAY_REQUEST_ID" type="hidden" />
                            <input id="CHECKSUM" name="CHECKSUM" type="hidden" />
                            <input id="REDIRECT" type="submit" />
                        </form>
                    </div>
                </div>
                <br /><br />
            </div>
        </div>




        <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script type="text/javascript">
            $('#btn-pay').on('click', function () {
                let node = document.createElement("li");
                node.innerText = "Processing...";
                document.querySelector("#results").appendChild(node);

                $.get(`/pay/getrequest`)
                    .done(data => success(data))
                    .fail(err => error(err));
            });

            function success(data) {
                let requestNode = document.createElement("li");
                requestNode.innerText = "Request retrieved";
                document.querySelector("#results").appendChild(requestNode);

                requestNode.innerText = data.message;
                if (data.success) {
                    $("#PAY_REQUEST_ID").val(data.results.PAY_REQUEST_ID);
                    $("#CHECKSUM").val(data.results.CHECKSUM);


                    let redirectNode = document.createElement("li");
                    redirectNode.innerText = "Redirecting...";
                    document.querySelector("#results").appendChild(redirectNode);

                    document.querySelector("#REDIRECT").click();
                }
            }

            function error(data) {
                console.log("Error");
                let node = document.createElement("li");
                node.innerText = data;
                document.querySelector("#results").appendChild(node);
            }</script>

    </center>

    <footer align="center" style="background-color:#1D1D2C ;bottom:0px;width:100%;position:relative;color:#F9F9F9;">
        <br /><br /><br /><br />


        <div class="row" align="left" style="margin-left:5%;width:90%">



            <div class="column">
                <p align="center" style="background-color:#F9F9F9;width:50%;border-radius:30px">

                    <img src="~/Icons/logo.png" alt="logo " width="100px" height="90px">
                </p>

                <br />
                <p align="left" style="color: #C9C6D8;font-size: 16px"><b>Best we can do, love, care, and comfort,<br /> be with us the family of love.</b></p>
                <br>
            </div>

            <div class="column">

                <br /><br />
                <p align="left" style=" font-size: 20px;font-family: 'Times New Roman';"><b>QUICK LINKS</b></p>
                <br />
                <p align="left">
                    <ul style=" font-size: 16px;color:#cca63f">
                        <b>

                            <li align="left">@Html.ActionLink("Hear more about us.", "", "", null, new { id = "about_us", style = "color: #F6F4D5" })</li>

                            <li align="left">@Html.ActionLink("Be in touch with us", "", "", null, new { id = "contact_us", style = "color: #F6F4D5" })</li>

                            <li align="left">@Html.ActionLink("View best we can provide", "", "", null, new { id = "about_us", style = "color:#F6F4D5" })</li>

                            <li align="left">@Html.ActionLink("View our gallery", "", "", null, new { id = "about_us", style = "color: #F6F4D5" })</li>

                            <li align="left">@Html.ActionLink("Be with us as family", "", "", null, new { id = "about_us", style = "color: #F6F4D5" })</li>
                        </b>

                    </ul>
                </p><br>
            </div>

            <div class="column">

                <br /><br />
                <p align="left" style="font-size: 20px;font-family: 'Times New Roman';"><b>OUR CONTACTS</b></p>
                <br />
                <p align="left" style="color:#F6F4D5;font-size: 16px"><b> <img src="~/Icons/email.gif" alt="freshFood " height="18px"> &nbsp; info@umthembu.com <br /><br /><img src="~/Icons/phone.png" alt="" height="20px" /> &nbsp; (031) 555-9541</p>
                <br>
            </div>

            <div class="column">

                <br /><br />
                <p align="left" style=" font-size: 20px;font-family: 'Times New Roman';"><b>SUBSCRIBE</b></p>
                <br />
                <p align="left" style="color:#C9C6D8;font-size: 16px">Subscribe to our email list and<br /> stay up-to-date with all our <br />news.</p>
            </div>




        </div>
        <p> <span style="color:#cca63f;font-size: 16px"> Rise and Shine Developers</span> &copy; 2020. All rights reserved</p>
        <br />
    </footer>
</body>
</html>






